:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  fk-html5player {
    min-height: 100%;
  }

  #message {
    color: white;
  }
}
